/* Add some global styles here! */
@font-face {
  font-family: Mako;
  src: url('Mako-Regular.ttf');
}

@font-face {
  font-family: Average;
  src: url('Average-Regular.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('HelveticaNeue.ttf');
}

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #8ed387;
  background-color: #f7ffeb;
  font-family: Mako, Average, HelveticaNeue;
}

h2, h3, h4 {
  font-family: Average
}

p {
  font-family: HelveticaNeue;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #ffcfe9;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
